# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives**
+ List popular languages in Data science
+ Table of Data science tools
+ Introducing arithmetic expression
+ Multiplying and adding number

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib

| Data Science Tools |
----------------------
| Jupyter Notebooks |
| RStudio |
| GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Elias Tayeh